*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(images/winter.jpg) no-repeat center/cover;
}
#weather{
    border-radius: 10px;
    width: 350px;
    padding: 30px 20px;
    background: url(images/winter.jpg) no-repeat center/cover;
}

.hot{
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(images/summer.jpg) no-repeat center/cover;

}

.hot #weather{
    background: url(images/summer.jpg) no-repeat center/cover;
}

.cold{
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(images/autumn.jpg) no-repeat center/cover;

}

.cold #weather{
    background: url(images/autumn.jpg) no-repeat center/cover;
}

.warm{
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(images/spring.jpg) no-repeat center/cover;

}

.warm #weather{
    background: url(images/spring.jpg) no-repeat center/cover;
}

.search{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 15px 0px 15px;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    font-size: 20px;
}
.search:focus{
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px 0 15px 0;
}
.content{
    text-align: center;
    color: white;
    margin:40px 0;
    transition: all 0.4s ease;
}
.capital{
    text-shadow: 4px 4px rgba(0,0,0,0.5);
}
.time{
    margin-block: 15px 0px 20px 0px;
    font-size: 20px;
    margin-top: 10px;
    /* color: rgb(6, 7, 0); */
}
.temperature{
    font-size: 65px;
    text-shadow: 4px 4px rgba(0,0,0,0.7);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    border: none;
    border-radius: 10px;
    margin: 0 30px;
    padding: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.short-desc{
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    margin: 30px;
}
.more-desc{
    display: flex;
    justify-content: space-between;
}
.more-desc div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.more-desc div i{
    margin: 10px 0px;

}
.hide{
    visibility: hidden;
    opacity: 0;
}